/* 全体 */
body {
  background-color: rgb(236, 241, 245);
  font-size: 14px;
}

a {
  color: blue;
  text-decoration: underline;
}

.content__container {
  width: 80%;
  min-width: 1000px;
  margin: 60px auto 0;
}

/* ページネーション */
.pagination {
  display: flex;
}

.pagination li {
  margin: 0 5px;
}

/* テーブル */
.contacts__table {
  width: 100%;
  border-collapse: collapse;
}

.contacts__table th,
.contacts__table td {
  border: 1px solid black;
  padding: 5px 8px;
  overflow-wrap: break-word;
}

.contacts__table th {
  background-color: rgb(54, 54, 160);
  color: white;
  text-align: center;
}

/* ボタン */
.td__button {
  font-size: 12px;
  text-align: center;
}

.submit__read {
  background-color: rgb(54, 54, 160);
  color: white;
  border-radius: 3px;
  padding: 3px 12px;
}

.submit__read:hover,
.button__logout:hover {
  background-color: rgb(115, 115, 226);
}

.submit__delete {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 3px;
  padding: 2px 4px;
}

.submit__delete:hover {
  background-color: rgb(255, 0, 0);
}

/* ログアウト */
.logout__container {
  margin-bottom: 20px;
  text-align: end;
}

.button__logout {
  background-color: rgb(54, 54, 160);
  color: white;
  border-radius: 3px;
  padding: 6px 30px;
}